/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:1439px) {
    .container {
        max-width: 1200px !important;
    }

    .first-screen__container {
        max-width: 1018px !important;
    }
}

@media(max-width:1199px) {
    .container {
        max-width: 1024px !important;
    }

    .footer-page__nav {
        width: 600px;
    }
}

@media(max-width:1023px) {
    .container {
        max-width: 768px !important;
    }

    .triggers__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .triggers__item {
        width: 100%;
        margin: 0;
        margin-bottom: 68px;
    }
    .triggers__item:last-of-type{
        margin-bottom: 0;
    }

    .what-we-do__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-spotlight__container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .product-spotlight__info {
        width: 100%;
        margin-bottom: 28px;
    }

    .product-spotlight__video {
        width: 100%;
    }

    .slider__img {
        margin-right: 100px;
    }

    .fs-swiper-pagination {
        right: 20px !important;
    }

    .product-spotlight__btn {
        display: none;
    }

    .pc-hidden {
        display: block !important;
    }

    .footer-page__row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .footer-page__nav {
        width: 100%;
        margin-top: 60px;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 480px !important;
    }

    .menu {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: var(--purple);
        height: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
             -o-transition-duration: 0.3s;
                transition-duration: 0.3s;

    }
    .navigation{
        padding: 28px 0;
    }
    .menu__list {
        display: block;
    }

    .menu__item {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .menu__item_active::before{
        bottom: 0;
    }
    .navigation__wrapper .menu__item{
        margin-bottom: 15px;
        margin-left: 15px;
    }
    .burger-menu{
        display: block;
        width: 32px;
        height: 32px;
        background: none;
        background-image: url(../img/icons/menu.svg);
        border: none;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .menu.show{
        height: 100vh;
        -webkit-transition-duration: 0.3s;
             -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
        padding-top: 30px;
    }
    .navigation.show{
        background-color: var(--purple);
    }
    .menu__list{
        max-width: 480px;
        margin: 0 auto;
        padding-left: 0;
    }
    .slider__img{
        margin-right: 0;
    }
    .first-screen__slide{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }
    .slider__img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 64px ;
    }
    .slider__img img{
        width: 100%;
        height: 100%;
    }
    .logo img{
        height: 50px;
    }
    .first-screen{
        padding-top:133px ;
    }
    .slider__title{
        font-size: 32px;
    }
    .slider__description{
        line-height: 130%;
    }
    .slider__description br{
        display: none;
    }
    .slider__btn{
        margin-top: 28px;
    }
    .first-screen{
        min-height: 789px;
        background-size: cover;
    }
    .first-screen__scroll-down span{
        font-size: 13px;
    }
    .triggers{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .triggers__item-title{
        font-size: 42px;
    }
    .triggers__item-descript{
        font-size: 13px;
    }
    .what-we-do__title{
        font-size: 34px;
        text-align: center;
    }
    .what-we-do{
        padding-top: 80px;
        padding-bottom: 48px;
    }
    .what-we-do__grid{
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }
    .what-we-do__img{
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 28px;
    }
    .product-spotlight__title{
        font-size: 24px;
    }
    .product-spotlight__info{
        padding-top: 0;
    }
    .product-spotlight{
        padding: 100px 0 97px;
    }
    .product-spotlight__btn{
        margin: 0 auto;
        margin-top: 40px;
    }
    .product-spotlight__video{
        height: 198px;
    }
    .product-spotlight__video span{
        font-size: 10px;
        margin: 15px 0 2px;
    }
    .product-spotlight__video h3{
        font-size: 13px;
    }
    .product-spotlight__video img{
        width: 34px;
        margin-top: 0;
    }
    .contacts{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contacts__row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .contacts__title{
        font-size: 34px;
    }
    .contacts__form{
        width: 100%;
        margin-top: 48px;
    }
    .form-title{
        font-size: 20px;
    }
    .input-row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .input_50{
        width: 100%;
    }
    .form .input{
        margin-bottom: 20px;
    }
    .btn-form{
        margin: 0 auto;
        margin-top: 20px;
    }
    .footer-page__nav{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer-menu{
        margin-bottom: 48px;
    }
    .footer-menu__title{
        margin-bottom: 20px;
    }
    .footer-page__bottom span{
        font-size: 8px;
    }
    .footer-page__bottom{
        padding: 30px 15px;
    }
    .logo-footer{
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        bottom: 110px;
    }
    .footer-page__top{
        padding-bottom: 120px;
    }
    .fs-swiper-pagination{
        display: none;
    }
}