* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
}

body {
    padding-top: 246px;
    background-image: url(../image/background/bg-type-one.jpg);
    background-repeat: repeat;
}

.container {
    width: 1324px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    display: flex;
    width: 100%;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: end;
}

.col-50p {
    width: 50%;
}

:root {
    --blue: #00AEEF;
    --blue-2: #0095DA;
    --white: #FFFFFF;
    --line: #E3E4E7;
    --black: #10192E;
    --grey: #707581;
}

.level-one {
    background-color: var(--blue-2-2, #0095DA);
}

.level-one__btn {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--blue-2-2, #0095DA);
    cursor: pointer;
    font-size: 14px;
    border-left: thin solid var(--blue, #00AEEF);
    text-decoration: none;
    transition-duration: 0.3s;
}

.level-one__btn:hover {
    background-color: var(--blue, #00AEEF);
    transition-duration: 0.3s;
}

.level-one__btn-title {
    color: var(--white);
    margin-left: 12px;
    font-family: 'Manrope';
    font-weight: 500;
}

.level-one__btn-icon {
    width: 16px;
    height: 16px;
}

.level-one__btn:last-of-type {
    border-right: thin solid var(--blue, #00AEEF);
}

.search-popup {
    border-left: none;
}

.level-two {
    background-color: var(--blue, #00AEEF);
    padding: 20px 0 20px;
    position: relative;
}

.level-two::before {
    content: "";
    width: 100%;
    height: 8px;
    background-image: url(../image/background/blue-wave.svg);
    position: absolute;
    width: 100%;
    bottom: -8px;
}

.logo {
    width: 551px;
    text-decoration: none;
}

.logo__image {
    width: 88px;
    height: 111px;
}

.logo__description {
    color: var(--white, #FFF);
    margin-left: 27px;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 133.333%;
    margin-top: -12px;

}

.level-two__btns {
    width: 702px;
}

.btn {
    border-radius: 4px;
    background: var(--blue-2-2, #0095DA);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 4px;
    color: var(--white, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 142.857%;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn svg {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.btn:hover {
    opacity: 0.9;
    transition-duration: 0.3s;
}

.level-three {
    position: relative;
    background-color: var(--white, #FFF);
    padding: 14px 0 14px;
}

.level-three::before {
    content: "";
    width: 100%;
    height: 11px;
    background-image: url(../image/background/white-wave.svg);
    position: absolute;
    width: 100%;
    bottom: -8px;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.nav-list-link {
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.drop-link-icon {
    margin-left: 12px;
}

.drop-block {
    position: absolute;
    background-color: #fff;
    list-style: none;
    width: 345px;
    left: -24px;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.096);
    z-index: 0;
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
    padding: 0px 22px;
}

.drop-link::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 140%;
    left: -24px;
    bottom: 0px;
    z-index: 0;
    border-radius: 4px 4px 0;
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.20);
    opacity: 0;
    transition-duration: 0.3s;
    padding-right: 46px;
}

.drop-link .nav-list-link {
    z-index: 2;
    position: relative;
}

.drop-link {
    position: relative;
    z-index: 2;
}

.drop-block-item {
    display: flex;
    margin-bottom: 12px;
}

.drop-block-item .drop-link-icon {
    margin-left: 0;
    margin-right: 14px;
}

.drop-block-link {
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.drop-link:hover::before {
    opacity: 1;
    transition-duration: 0.3s;
}

.drop-link:hover .drop-block {
    height: auto;
    opacity: 1;
    padding: 17px 22px;
    transition-duration: 0.3s;
}

.drop-link-icon {
    position: relative;
    display: block;
}

.drop-link-icon::before {
    content: "";
    width: 2px;
    border-radius: 900px;
    height: 0px;
    background-color: var(--blue, #00AEEF);
    position: absolute;
    left: 4px;
    top: 4px;
    transition-duration: 0.3s;
}

.drop-link:hover .drop-link-icon::before {
    height: 12px;
    transition-duration: 0.3s;
}

.drop-link-icon img {
    transition-duration: 0.3s;
}

.drop-link:hover .drop-link-icon img {
    margin-bottom: -4px;
    transition-duration: 0.3s;
}

.drop-block-item .drop-link-icon {
    position: relative;
}

.drop-blokc-link-icon {
    margin-right: 12px;
    position: relative;
}

.drop-blokc-link-icon::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0px;
    height: 2px;
    background: var(--blue, #00AEEF);
    left: 0px;
    top: 11px;
    transition-duration: 0.3s;
}

.drop-block-item:hover .drop-blokc-link-icon::before {
    width: 12px;
    transition-duration: 0.3s;
    left: -9px;
}

.drop-block-item .drop-blokc-link-icon {
    transition-duration: 0.3s;
}

.drop-block-item:hover .drop-blokc-link-icon {
    margin-left: 10px;
    transition-duration: 0.3s;
}

.drop-block-item:hover a {
    color: var(--blue-2, #0095DA);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.btn-menu-open {
    margin-left: 32px;
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url(../image/icons/menu.svg);
    background-size: contain;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    transition-duration: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
}

.drop-link:last-of-type .drop-block {
    left: auto;
    right: -21px;
}

.bg-type-one {
    background-image: url(../image/background/bg-type-one.jpg);
    background-repeat: repeat;
    padding: 45px 0 45px;
}

.label {
    color: var(--grey, #707581);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--line, #E3E4E7);
    background: var(--white, #FFF);
    width: fit-content;
    padding: 1px 7px 3px 8px;
    text-decoration: none;
}

.label img {
    margin-right: 8px;
    width: 12px !important;
}

.banner {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E3E4E7;
    background: #FFF;
    padding: 16px;
    text-decoration: none;
}

.banner:hover .banner-title {
    color: #00AEEF;
    transition-duration: 0.3s;
}

.banner-img-container {
    width: 376px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border: 1px solid #DADADA;
    background: linear-gradient(180deg, #EEE 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-right: 40px;
}

.banner-image {
    width: 240px;
    height: 108px;
    object-fit: contain;
}

.banner-title {
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    transition-duration: 0.3s;
}

.card-item {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--line, #E3E4E7);
    background: var(--white, #FFF);
    display: block;
    text-decoration: none;
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 27px;
}

.card-item__image {
    width: 100%;
    height: 288px;
    border-radius: 4px;
    overflow: hidden;
}

.card-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-item__info {
    margin-top: -14px;
    position: relative;
    padding-left: 16px;

}

.card-item__title {
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: 14px;
    transition-duration: 0.3s;
}

.news-slider {
    border-radius: 4px;
    border: 1px solid var(--line, #E3E4E7);
    background: var(--white, #FFF);
    padding-bottom: 27px;
}

.news-slider .card-item {
    border: none;
    padding-bottom: 0;
}

a.card-item:hover .card-item__title {
    color: var(--blue, #00AEEF);
    transition-duration: 0.3s;
}

.news-slider .card-item__image {
    height: 296px;
}

.news-slider .card-item {
    position: relative;
}

.news-slider {
    position: relative;
}

.news-slider::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    width: 1px;
    height: 99%;
    background: var(--white, #ffffff);
    z-index: 99;
}

.news-slider .owl-item .card-item::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    background: var(--line, #E3E4E7);
}

.title {
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.title::before {
    content: url(../image/icons/title-before.svg);
    margin-right: 16px;
    position: relative;
    top: -4px;
}

.news-container {
    padding-top: 32px;
}

.news-container .news {
    width: 856px;
}

.owl-nav {
    position: absolute;
    right: 0;
    top: -64px;
}

.owl-nav button {
    width: 32px !important;
    height: 32px !important;
    border-radius: 900px !important;
    background: var(--blue, #00AEEF) !important;
    transition-duration: 0.3s;
    margin-left: 8px !important;
}

.owl-nav button:hover {
    background: var(--blue-2, #0095DA) !important;
}

.navigation {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.announcements {
    width: 408px;
}

.announcements .card-item {
    margin-bottom: 32px;
}

.announcements .card-item:last-of-type {
    margin-bottom: 0;
}

.owl-dots {
    display: none;
}

.btn-blue {
    color: var(--blue-2, #0095DA);
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    width: 184px;
    padding: 13px 32px;
    border-radius: 4px;
    border: 1px solid rgba(0, 149, 218, 0.30);
    background: rgba(0, 149, 218, 0.10);
    float: right;
}

.btn-blue:hover {
    background-color: var(--blue-2, #0095DA);
    color: var(--white, #ffffff);
}

.news-item {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
    text-decoration: none;
}

.news-item__image {
    min-width: 152px;
    height: 112px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 32px;
}

.news-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item__title {
    margin-top: 10px;
    color: var(--black, #10192E);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    transition-duration: 0.3s;
}

.news-item:hover .news-item__title {
    color: var(--blue, #00AEEF);
    transition-duration: 0.3s;
}

.news-items .btn {
    margin-top: 32px;
}

.informational-messages {
    padding-top: 36px;
    padding-bottom: 270px;
    background: #ffffff;
}

.informational-messages .card-item {
    border: none;
    padding: 0;
}

.informational-messages .card-item__info {
    margin-top: 0;
    padding-left: 0;
}

.informational-messages__slider .btn {
    margin-top: 32px;
}

.informational-messages {
    position: relative;
}

.informational-messages::before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 11px;
    background-image: url(../image/icons/white-wave-two.svg);
}

.informational-messages::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 11px;
    background-image: url(../image/background/white-wave.svg);
}

.small-banner {
    width: 296px;
    height: 296px;
    border-radius: 4px;
    overflow: hidden;
}

.small-banner img {
    width: 100%;
    height: 100%;
}

.big-banner {
    width: 984px;
    height: 296px;
    border-radius: 4px;
    overflow: hidden;
}

.big-banner img {
    width: 100%;
    height: 100%;
}

.bg-type-three {
    padding-top: 145px;
}

.gos-usl-banner {
    position: absolute;
    z-index: 1;
    margin-top: 115px;
    width: 98.5%;
}

.informational-messages .container {
    position: relative;
}

.bg-type-three {
    background-color: #E1F7FF;
    background-image: url(../image/background/bg-type-three.png);
    background-size: cover;
}

.activity {
    padding-top: 32px;
}

.activity__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.activity__item {
    border-radius: 4px;
    border: 1px solid var(--Line, #E3E4E7);
    background: var(--White, #FFF);
    display: flex;
    align-items: center;
    padding: 20px;
    min-height: 112px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.activity__item:hover {
    border: 1px solid var(--Line, #E3E4E7);
    background: #E8F9FF;
    transition-duration: 0.3s;
}

.activity__item-title {
    margin-left: 20px;
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

.district {
    padding-top: 32px;
}

.district .title {
    margin-bottom: 20px;
}

.district__descript {
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.district__row {
    margin-top: 34px;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.district__row .district__row-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 0;
}

.district__item {
    z-index: 9;
    position: relative;
    width: 25%;
    height: 500px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    border-right: thin solid #ffffff34;
}

.district__item-title {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}

.district__item-descript {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    transition-duration: 0.3s;
    opacity: 0.9;
    height: 0;
    overflow: hidden;
    line-height: 0;
    opacity: 0;
    width: 100%;
}

.district__item-btn {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px 18px;
    padding-right: 28px;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.district__item-btn span {
    margin-left: 11px;
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 14px */
    opacity: 0;
    transition-duration: 0.3s;
}

.district__item:hover .district__item-descript {
    height: 60px;
    opacity: 1;
    line-height: 140%;
    transition-duration: 0.3s;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.district__item:hover .district__item-btn {
    width: 148px;
    transition-duration: 0.3s;
    background: var(--Blue, #00AEEF);
    overflow: visible;
}

.district__item:hover .district__item-btn span {
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

.district__item::before {
    content: "";
    background-color: #10192E;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(0deg, #000 0%, rgba(16, 25, 46, 0.00) 100%);
    opacity: 0;
    transition-duration: 0.3s;
}

.district__item:hover::before {
    opacity: 0.5;
    transition-duration: 0.3s;
}

.citizens .activity__item-img,
.business .activity__item-img {
    width: 48px !important;
}

.for-people {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

.business .activity__item {
    border-radius: 4px;
    border: 1px solid var(--Line, #E3E4E7);
    background: #E8F9FF;
}

.business .activity__item:hover {
    background-color: #ffffff;
}

.citizens,
.business {
    width: 636px;
}

.resources {
    margin-top: 32px;
}

.resources .card-item__image {
    height: 128px;
}

.resources .card-item__title {
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.resources .label {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources .label img {
    margin-right: 0;
}

.resources .owl-stage {
    display: flex !important;
}

.resources .slider-item,
.resources .card-item {
    height: 100%;
}

.resources .card-item__info {
    margin-top: -11px;
}

.useful-links .card-item {
    padding-top: 0;
}

.useful-links .owl-item {
    padding-top: 10px;
    padding-bottom: 2px;
}

.useful-links .title {
    margin-bottom: 20px;
}

.useful-links .owl-nav {
    top: -52px;
}

.useful-links {
    padding-bottom: 44px;
}

.footer-page {
    padding-top: 32px;
    background: var(--Blue2, #0095DA);
    padding-bottom: 32px;
    position: relative;
}

.footer-page::before {
    content: "";
    width: 100%;
    height: 12px;
    background-image: url(../image/icons/footer-wave.svg);
    display: block;
    position: absolute;
    top: -12px;
}

.footer-page__info {
    width: 520px;
}

.footer-page__info p {
    color: #B2DFF4;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142%;
    margin-bottom: 8px;
}

.footer-page__info p:last-of-type {
    margin-bottom: 0;
}

.footer-page__info p span {
    color: var(--White, #FFF);
}

.footer-page__info p:first-of-type {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-page .btn {
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
}

.footer-page__feedback ul {
    list-style: none;
    text-align: right;
}

.footer-page__feedback ul li {
    margin-bottom: 4px;
}

.footer-page__feedback .address {
    color: var(--White, #FFF);
    text-align: right;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.footer-page__feedback .phone,
.footer-page__feedback .email {
    color: #B2DFF4;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.footer-page__feedback .phone a {
    color: var(--White, #FFF);
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.footer-page__feedback .phone a:hover {
    text-decoration: underline;
}

.footer-page__feedback .email a {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-decoration-line: underline;
}

.footer-page__feedback .email a:hover {
    text-decoration: none;
}

.footer-page__feedback .developer {
    color: #B2DFF4;
    text-align: right;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.footer-page__feedback .developer a {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.footer-page__feedback .developer a:hover {
    text-decoration: underline;
}

.footer-page__row {
    display: flex;
    justify-content: space-between;
}

.footer-page__feedback .level-two__btns {
    margin-bottom: 18px;
}

.logo-fix {
    display: none;
    top: -100%;
}

.navigation.fixed {
    position: fixed;
    top: -194px;

}

.navigation.fixed .nav {
    padding-left: 96px;
    position: relative;
}

.navigation.fixed .logo-fix {
    display: block;
    width: 64px;
    position: absolute;
    left: 0;
    top: -15px;
    transition-duration: 0.3s;
    z-index: 2;
}

.navigation.fixed .logo-fix img {
    width: 100%;
}

.search-block {
    position: absolute;
    z-index: 9999;
    top: -130px;
    width: 100%;
    background: var(--White, #FFF);
    transition-duration: 0.4s;
}

.search-block.show {
    top: 0;
    transition-duration: 0.4s;
}

.search-block.show .overflow {
    position: absolute;
    top: 112px;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
    background: var(--Black, #10192E);
    z-index: -1;
}


.search-block::before {
    content: "";
    height: 11px;
    background-image: url(../image/background/white-wave.svg);
    position: absolute;
    width: 100%;
    bottom: -8px;
}

.search-block .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10px;
}

.search-block form {
    display: flex;
}

input {
    border-radius: 4px;
    border: 1px solid var(--Line, #E3E4E7);
    background: var(--White, #FFF);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding: 12px 20px;
    outline: none;
}

input::placeholder {
    color: var(--Grey, #707581);
}

input:focus {
    border: 1px solid var(--Blue, #00AEEF);
}

.search-block input {
    width: 712px;
    margin-right: 16px;
}

.search-block .btn {
    width: 200px;
    background: var(--Blue, #00AEEF);
    transition-duration: 0.3s;
}

.search-block .btn:hover {
    background: var(--Blue2, #0095DA);
    transition-duration: 0.3s;
}

.search-block .title {
    margin-bottom: 0;
}

.close-search {
    background: none;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.close-search:hover {
    opacity: 0.6;
    transition-duration: 0.3s;
}

.sites-city {
    background: #EBF9FE;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    padding-top: 43px;
    display: none;
}

.tabs-content div:not(:first-child) {
    display: none;
}

.tabs-nav ul {
    display: flex;
    list-style: none;
}

.tabs-nav__btn {
    border-radius: 4px;
    border: 1px solid rgba(0, 149, 218, 0.30);
    background: rgba(0, 149, 218, 0.10);
    color: var(--Blue2, #0095DA);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    width: auto;
    margin-right: 8px;
}

.active .tabs-nav__btn {
    border: 1px solid var(--Blue, #00AEEF);
    background: var(--Blue, #00AEEF);
    color: var(--White, #FFF);
}

.sites-city .close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 9;
}

.sites-city .close:hover {
    opacity: 0.7;
}

.sites-city .container {
    position: relative;
}

.tabs-content {
    padding-top: 32px;
}

.tabs-content .drop-block {
    position: static;
    height: auto;
    overflow: visible;
    background: none;
    box-shadow: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 40px;
}

.drop-navigation {
    width: 100%;
    background-color: #EBF9FE;
    padding: 40px 0;
    height: 0;
    overflow: hidden;
    padding: 0;

    transition-duration: 0.3s;
}

.drop-navigation__col .drop-block {
    position: static;
    width: auto;
    opacity: 1;
    padding: 0;
    background: none;
    box-shadow: none;
    transition-duration: 0.3s;
}

.drop-navigation__header,
.drop-navigation__header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.drop-navigation .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 42px;
}

.drop-navigation__col-icon {
    transform: rotate(-90deg);
    transition-duration: 0.3s;
}

.drop-navigation__col.active .drop-navigation__col-icon {
    transform: rotate(0);
    transition-duration: 0.3s;
}

.drop-navigation__col.active .drop-block {
    height: auto;
    padding-top: 15px;
    transition-duration: 0.3s;
}

.drop-navigation__col-title {
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.drop-navigation.active {
    height: 100vh;
    overflow-y: scroll;
    transition-duration: 0.3s;
    padding-top: 40px;
    padding-bottom: 120px;
}

.btn-menu-open.active {
    background-image: url(../image/icons/close-menu.svg);
    transition-duration: 0.3s;
}

.drop-navigation__col-nolink {
    height: 10px;
}

.announcements-row {
    margin-bottom: 32px;
}

.district__item-img {
    display: none;
}

.menu-mob {
    display: none;
}

.useful-links .title br {
    display: none;
}

.mob-menu-content {
    display: none;
}

.level-one .logo-fix {
    display: none;
}

.overflow-hidden {
    overflow: hidden !important;
}

.navigation {
    transition-duration: 0.3s;
}

.navigation.open-menu {
    top: -194px;
    transition-duration: 0.3s;
}

.navigation.fixed {
    transition-duration: 0s;
}

a.drop-navigation__header-link {
    margin-bottom: 24px;
}

a.drop-navigation__header-link .drop-navigation__col-icon {
    transform: rotate(-90deg) !important;
}

.breadcrumbs {
    margin-top: 26px;
}

.breadcrumbs-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 8px;
    list-style: none;
}

.breadcrumbs-item span,
.breadcrumbs-item a {
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
}

.breadcrumbs-item span {
    opacity: 0.7;
}

.breadcrumbs-item a:hover {
    color: #00AEEF;
    transition-duration: 0.3s;
}

.breadcrumbs-item a::after {
    content: url(../image/icons/right.svg);
    margin-left: 16px;
    margin-right: 16px;
}

.main-page {
    padding-top: 25px;
}

.sidebar__title {
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}

.small-wave {
    width: 24px;
    height: 6px;
}

.sidebar__nav{
    margin-left:-16px ;
    width: 100%;
}
.sidebar__nav-item {
    list-style: none;
    width: 100%;
}

.sidebar__nav-item.active{
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #0095DA;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    padding: 11px 16px;
}

.sidebar__nav-link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #10192E;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    padding: 11px 16px;
    border: 1px solid rgba(0, 149, 218, 0);
    transition-duration: 0.3s;
}
.sidebar__nav-link:hover{
    border-radius: 4px;
border: 1px solid rgba(0, 149, 218, 0.30);
background: rgba(0, 149, 218, 0.10);
transition-duration: 0.3s;
color: #00AEEF;
}
.sidebar__nav-arrow{
    min-width: 14px;
    height: 10px;
    background-image: url(../image/icons/right.svg);
    background-position: right center;
    background-repeat: no-repeat;
    margin-top: 4px;
    position: relative;
}
.sidebar{
    width: 328px;
}
.sidebar__nav-arrow::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #00AEEF;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.3s;
}
.sidebar__nav-link:hover .sidebar__nav-arrow::after{
    width: 100%;
    transition-duration: 0.3s;
}
.sidebar__nav-item.active .sidebar__nav-arrow::after{
    width: 100%;
}
.sidebar__contact{
    margin-top:25px ;
    background-color: #fff;
    padding: 16px;
    padding-bottom: 24px;
    width: 100%;
    border: 1px solid var(--Line, #E3E4E7);
    border-radius: 4px;
    
}
.sidebar__contact-img{
    width: 100%;
    height: 196px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.sidebar__contact-img img{
    width: 100%;
    height: 100%;
}
.sidebar__contact-info{
    padding: 0 8px;
}
.sidebar__contact-item{
    margin-bottom: 10px;
}
.sidebar__contact-item:last-of-type{
    margin-bottom: 18px;
}
.sidebar__contact-item span{
    color: #3C4658;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
}
.sidebar__contact-item p{
    color:#10192E;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
.sidebar__contact-item a{
    width: 115px;
color: #3C4658;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 400;
text-decoration: none;
display: block;
width: 100%;
font-weight: bold;

}
.sidebar__contact-item a:hover{
    color: #00AEEF;
    text-decoration: underline;
}
.sidebar__contact-item a.email{
    width: 248px;
color:#0095DA;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
.btn_lightblue{
    color:  #0095DA;
    font-size: 14px;
    font-weight: 700;
    background: rgba(0, 149, 218, 0.10);
    border: 1px solid rgba(0, 149, 218, 0.30);
    
}
.btn_lightblue:hover{
    background-color: #00AEEF;
    color: #fff;
}
.sidebar__work-schedule{
    margin-top: 32px;
    border-radius: 4px;
    border: 1px solid  #E3E4E7;
    background: #E8F9FF;
    padding: 18px 24px 15px;
    
}
.sidebar__work-schedule h3{
    color: var(--Black, #10192E);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
}
.sidebar__work-schedule-item span{
color: #3C4658;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
display: block;
margin-bottom: 4px;
margin-top: 10px;
}
.sidebar__work-schedule-item:first-of-type span{
    margin-top: 0;
}
.sidebar__work-schedule-item p{
    color: #10192E;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 600;
margin-bottom: 4px;
}
.sidebar__work-schedule-item p:last-of-type{
    margin-bottom: 0;
}