*{
    font-family: 'Pragmatapro';
}

@font-face {
    font-family: 'Pragmatapro';
    src: url(../fonts/Pragmatapro.ttf);
}
.panel-heading__setting{
    display: flex;
    align-items: center;
}
.panel-heading{
    display: flex;
    justify-content: space-between;
}
.setting-btn{
    margin-left: 8px;
    border: none;
    padding: 0;
    background: none;
}
.panel-no-border, .panel-no-border .panel-heading{
    border: none !important;
}
.panel-item__btn{
    padding: 0 !important;
    background:none;
    border: none;
}
.panel-item__title h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.panel-item__title{
    display: flex;
    align-items: center;
}
.panel-item__title img{
    margin-left:8px;
    margin-bottom: 2px;
}
.panel-title > a{
    font-size: 12px;
}
.panel-item__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}
.panel-item__btns .setting-btn{
    margin-left: 4px;
}
.panel-item__body{
    margin-top: 6px;
    border: thin solid #DDDDDD;
    padding-bottom: 50px;
    height: 100%;
}
.search-input{
    padding: 6px 9px ;
    width: 100%;
    border-radius: 2px;
    border: thin solid #DDDDDD;
}
.search-input::placeholder{
    color: #999999;
}
.form-search{
    padding: 12px;
    margin-bottom: 10px;
}
.panel-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.panel-item{

    flex-grow: 1;
    position: relative;
}
.toggle-button{
    border: thin solid #999999;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
    z-index: 0;
}


.toggle-button:hover{
    opacity: 0.8;
}
.input-label{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    padding-top: 6px !important;
    padding-right: 40px;
}
.input-label input{
    margin-top: 0 !important;
    margin-right: 8px !important;
    z-index: 999;
}
.input-title{
    text-transform: uppercase;
    font-size: 12px;
    z-index: 999;
}
.input-label:hover .input-title{
    color: #0075FF;
    transition-duration: 0.3s;
    margin-bottom: 0;
}
.level-input{
    display: flex;
    align-items: flex-start;
    padding-left: 16px;
}
.level-input__inputs{
    width: 100%;
    position: relative;
}
.level-input__inputs .level-input{
    padding-left: 0;
}
.input-label{
    border-bottom:thin solid #DDDDDD ;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 6px;
}
.level-input__inputs{
    border-top:thin solid #DDDDDD ;
}
.input-inside .level-input__inputs{
    border-top:none;
}
.toggle-button.collapsed img{
    transform: rotate(-90deg);
}
.quantity-total{
    position: absolute;
    right: 12px;
    font-size: 12px;
}
.bg_grey{
    background-color: #F9F9F9;
}
.bg_blue{
    background-color: #F1F9FE;
}
.child-element{
    padding-left: 14px;
}
.total-delete{
    position: absolute;
    right: 12px;
    top: 0;
    padding: 4px 10px !important;
    margin: 0 !important;
    border: none;
    background: none;
}
.total-description_list{
    list-style: none;
    margin-top: 8px;
    padding-left: 18px;
}
.total-description_list li:before{
    content: "-";
    margin-right: 2px;
}

.toggle-button::after{
    content: "";
    background-color: #c9c9c9;
    width:14px;
    height: 1px;
    position: absolute;
    right:13px;
}

.level-input{
    position: relative;
}



.parent-col > .toggle-button::after{
    display: none;
}
.check-label{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: none;
    z-index: 999;
}


.handle {
    position: absolute;
    top: 24px;
    right: -4px; /* Регулируйте отступ справа в зависимости от вашего дизайна */
    width: 4px; /* Ширина ручки изменения размера */
    height: 100%;
    cursor: ew-resize; /* Курсор изменения размера */
  }
  
  .panel-item.resizing .handle {
    background-color: #ccc; /* Цвет ручки изменения размера во время перетаскивания */
  }

  .level-input__inputs{
    position: relative;
  }

.parent-col{
    position: relative;
}
.toggle-button::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: -16px;
    width: 1px;
    height:1000%;
    background-color: #c9c9c9;
    z-index: -9;
}
.parent-col > .toggle-button::before{
    display: none;
}
.parent-col{
    overflow: hidden;
}
.input-label::before{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    content: "";
    z-index: 1;
}


.input-label::after{
    width: 30px;
    height: 8px;
    position: absolute;
    background-color: #ffffff;
    top: 30px;
    content: "";
    z-index: 1;
}
.h-100-line::before{
    content: "";
    position: absolute;
    bottom: auto;
    top: -20px;
    left: -16px;
    width: 1px;
    height: 1100px;
    background-color: #c9c9c9;
    z-index: -999;
}
/* .one-item::before{
    height: 26px !important;
} */

.no-line-before::before {
    content: '';
    background-color: #ffffff;
    width: 5px;
    height: 20%;
    position: absolute;
    left: 5px;
    bottom: 0;
    z-index: 9;
}
.image-cover{
    width: 14px;
    top: 8px;
    
    height: 14px;
    position: absolute;
    background: #000;
    z-index: 999999;
}
.parent-col:first-of-type:before{
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 10px;
    height: 8px;
    left: 19px;
    top: 0;
    z-index: 999;
}